project_root

# style guide (https://florianschanda.github.io/miss_hit/style_checker.html)
line_length: 100
regex_function_name: "[a-z]+(([A-Z]){1}[A-Za-z]+)*"
regex_parameter_name: "[a-z]+(([A-Z]){1}[A-Za-z0-9]+)*"
regex_script_name: "[a-z]+(([A-Z]){1}[A-Za-z]+)*"
exclude_dir: "lib"
copyright_entity: "Mohamed Rezk"
copyright_entity: "Agah Karakuzu"
copyright_entity: "R.F. Tap"
copyright_entity: "Remi Gau"
copyright_entity: "CPP visual motion localizer developers"

# metrics limit for the code quality (https://florianschanda.github.io/miss_hit/metrics.html)
metric "cnest": limit 4
metric "file_length": limit 500
metric "cyc": limit 18
metric "parameters": limit 8
